{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <h1>Articles </h1>

    <div class="container">
   
		<div class="row">
			{% for article in articles %}
            
				<div class="col-md-4">
					<div class="card">
						<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{article.titre}}</h5>
							<div class="card-text">{{article.contenu}}</div>
							<p> {{article.datecreation |date("d/m/Y")}}</p>
                           
						    <a href="{{ path('app_article_show', {'id': article.id}) }} " class="btn btn-primary">lire</a>
							 {% if app.user and article.utilisateur == app.user %}
                            <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
							 {% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>






     
   
{% endblock %}
