{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
  <!-- Article -->
    <div class="col">
	<div class="container-sm">
	
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">
	  
		<article class="container mt-4">
	<div class="d-flex justify-content-sm-start">
				<h1 class=""> {{ article.titre }}</h1>
</div>
	<div class="d-flex justify-content-sm-end">
	            <p class="text-secondary">Par <a href="">@alioukahere</a> creer le  {{article.datecreation |date("d/m/Y")}}</p>

	</div>
   		<div class="position-relative ">
        	<div class="col">
			<div class="col-4 mx-auto text-center">
      	 	 <img  src="https://via.placeholder.com/500" alt="" class="img-fluid">
    		</div>
            <div class="mt-4">
                {{ article.contenu }}
            </div>
        </div>
    </div>
</article>




	  </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">
	   {% if app.user %}
	  <h1>commentaires</h1>


    {{ include('commentaire/_form.html.twig') }}
     <div class="card-body ">
                <h4 class="card-title">Latest Comments</h4>
            </div>
    {% for commentaire in article.commentaires %}

		<div class="row d-flex ">
    <div class="col-lg-6">
    
        <div class="card">
           
            <div class="comment-widgets">
        
                <div class="d-flex flex-row comment-row">
                    <div class="comment-text w-100">
                        <h6 class="font-medium">{{ app.user.nomprenom }}</h6> <span class="m-b-15 d-block">{{ commentaire.contenu}} </span>
                        <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                         <button type="button" class="btn btn-success btn-sm">Publish</button> 
                         <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>



	

	{% endfor  %}
	

	{% endif %}  
	  </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>



    </div>
	<!-- Commentaire -->
    <div class="">
	
      
    </div>
    
  </div>
</div>



{% endblock %}
